.tabs{
    background-color: #f1f5f9;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.tab_child{
    background-color: #0a0a0a;
    margin: 0 1rem; 
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    
   
   
    
}

.tab_child:focus , .tab_child:active{
    background-color: #ef4444;
    color: white;
    border: 1px solid white;
}
@media  (max-width: 786px) {
    .tabs{
width: 100%;
padding: 5px;

    }

}
