@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-estedad);
  min-height: 100vh;
  user-select: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;

}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -7%;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.backgroundHsl {
  background: hsla(0, 0%, 4%, 0.8);
  backdrop-filter: blur(0.1rem);
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: -80px;
  background-color: rgb(33, 33, 33);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.swiper-button-next{
  color: transparent;
  background-image: url("../../public/images/arrow.svg");
  background-repeat: no-repeat;
 
}
.swiper-button-prev{
  color: transparent;
  transform: rotate(180deg);
  background-image: url("../../public/images/arrowr.svg");
  background-repeat: no-repeat;
 
}

@media screen and (max-width: 786px) {
  .swiper-slide img{
    height: 70vh;
  }
}